
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ff5e00, #ffe600);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "banner"
    "contenido"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}

.header {
  grid-area: header;
  text-align: center;
  background-color: #ffffffaa;
}

.header h1 {
  animation: mover 4s infinite alternate;
}

.banner {
  grid-area: banner;
}
.eslogan {
  grid-area: eslogan;
  text-align: center;
 
}
.eslogan h1 {
  animation: mover 4s infinite alternate;
  margin: 40px;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.90em;
    margin-block-end: 0.90em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.contenido {
  grid-area: contenido;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 10px;
}

.columna {
  flex: 1 1 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #ffffffaa;


}

.footer a {
  margin: 0.5px;
  color: #0072ff;
  text-decoration: none;
}

.footer a:hover {
  color: darkorange;
}

.footer i {
  margin-right: 4px;
}

/* keyframes */
@keyframes mover {
  from { transform: scale(1); color: rgba(128, 0, 150, 0.89); }
  to { transform: scale(1.2); color: rgb(48, 1, 48); }
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
}

form input, form button {
  margin: 5px 0;
  padding: 8px;
}

form button {
  background-color: #0072ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: darkorange;
}

/* Responsive ajustes */
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
  }
}

